<div class="page_top">
  <div class="page_title">
    <h1>Cocktails</h1>
  </div>
  <div class="create_button">
    <%= link_to new_cocktail_path do %>
      <span class="btn btn-primary">New Cocktail</span>
    <% end %>
  </div>
</div>

<div class="container">

  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-3">

        <%= link_to cocktail_path(cocktail) do %>
          <div class="card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                   url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')"">
            <div class="card-category">Cocktail</div>
            <div class="card-description">
              <h2><%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></h2>
              <p><%= link_to "Delete", cocktail_path(cocktail), data: {:confirm => 'Are you sure?'}, method: :delete %></p>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>

</div>


